/*============================================index start============================================*/
.indexWrap{width: 1180px; margin: 30px auto;}
.indexCon{border-top: 2px solid #e20015; margin-top: 30px;}
/*============================================header start=============================================*/
header{width: 100%; }
/*======header_top start======*/
/*==pc端导航==*/
.header_top{min-width: 1180px;height: 48px;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;background-color: #f8f8f8; }
.header_topNav{width: 1180px; margin: 0 auto; position: relative;}
.header_topNav .firstNav{float: left;}
.header_topNav .firstNav>li{float: left;}
.header_topNav .firstNav>li>a{display: block;height: 48px;line-height: 48px;padding: 0 15px;color: #333;font-size: 14px;}
.header_topNav .firstNav>li:first-of-type a{padding-left: 0;}
.lastClass{ position: relative;border-left: 1px solid rgba(0,0,0,0);border-right: 1px solid rgba(0,0,0,0); z-index: 1000;}
.lastClass:hover{border-left: 1px solid #c7c7c7;border-right: 1px solid #c7c7c7;box-shadow: 0 -1px 1px #c7c7c7; background: #fff;}
.lastClass:hover .downClass{display: block;}
.lastClass:hover .more{color: #e20015;}
.header_topNav .logo{display: none;}
/*下拉菜单 */
.downClass{position: absolute; right: -1px;top: 46px; width: 350px; background: #fff; border: 1px solid #c7c7c7;box-shadow: 0 1px 1px #c7c7c7; z-index: 1; border-top: 0; display: none;}
.downClass:before{content: ''; display: block; position: absolute; width: 274px; border-top:  1px solid #c7c7c7; box-shadow: 0 0px 1px #c7c7c7; z-index: 1; height: 0; top: 0; left: 0;  }
.downClass li{border-bottom: 1px dashed #c7c7c7; height: 48px;line-height: 48px; }
.downClass li a{color: #333;font-size: 14px; float: left;  height: 48px;line-height: 48px; text-align: center; padding: 0 15px; }
.downClass li a:hover{color: #e20015;}
.downClass li:last-of-type{border-bottom: 0;}
/*==移动端导航==*/
.slideDown{height:48px; line-height: 48px; float: right;margin-right: 15px; z-index: 100; display: none;}
.slideDown i{font-size: 26px; color: #666;}
.mobileNav{width: 100%; position: absolute; top: 48px; background: #fff; }
.mobileNav ul{display: none; background: #fff; }
.mobileNav ul li{float: left; width: 20%; height: 40px; line-height: 40px;}
.mobileNav ul li a{display: block;color: #333;font-size: 14px; text-align: center;}

/*======header_top end======*/

/*======header_middle start======*/
.header_middle{width:1180px; margin:14px auto;}
.logo{float: left;}
.logo a img{width: 240px;}

.header_middleRight{float: right; margin-top: 10px;}
.formSelect{border:1px solid #ccc; height: 32px; line-height: 32px; border-radius: 3px;}
.formSelect div{float: left;}
.formSelect .select{border-right: 1px solid #ccc; width: 67px; padding-right: 5px; height: 30px; position: relative; z-index: -1;}
.formSelect .select div{padding: 0 13px; font-size:14px;color: #000; cursor: pointer;z-index: -1;}
.formSelect .select i{font-size: 14px;color: #000; position: absolute;top:0px; right: 9px;}
.formSelect .select:hover i{color: #e20015;}
.form_input input{border: 0; padding-left: 10px; min-width: 20px;}
.form_search {width: 34px;height: 30px; border-left: 1px solid #ccc;background: #efefef; text-align: center;}
.form_search i{color: #333333;}
.form_search i:hover{color: #e20015;}
.select_box{position: relative;}
.select_down{position: absolute;z-index: 100000; top: 29px; left: -1px; width: 68px; border: 1px solid #ccc;border-top: 1px dashed #ccc; display: none; border-bottom-left-radius:3px;border-bottom-right-radius:3px; }
.select_down p{font-size: 14px; color: #000;padding: 0 14px; border-bottom: 1px dashed #ccc;cursor: pointer;background: #f6f6f6;}
.select_down p:last-of-type{border-bottom: 0}
.select_down p:hover{background: #fff;}
.form_search{min-width: 20px;}
/*======header_middle end======*/

.todayTj{margin:30px auto; display: block;}
.todayTj .todayLeft{float: left}
.todayTj .todayLeft img{width: 180px; margin-right: 78px;}
.todayTj .todayRight h2 a{font-size:30px; height: 50px; font-weight: bold; text-align: center;}
.todayTj .todayRight h2 a:hover{text-decoration: underline;}
.todayTj .todayRight p{font-size:14px;}
.todayTj .todayRight p a:hover{text-decoration: underline;}


/*======header_bottom start======*/


.header_bottom{width: 1180px;background: rgba(255,0,0,0.05); margin:10px auto; display: block; border-top: 3px solid #e20015; border-bottom:  1px solid #e20015; padding-bottom: 8px;padding-top: 4px;}
.header_bottom ul li{float: left; width: 25%; line-height: 28px;}
.header_bottom ul li a:first-of-type{font-weight: bold;font-size:14px;}
.header_bottom ul li a{display: inline-block; font-size:14px; padding: 0 3px; }

.header_bottom ul li a:hover{color:#e20015; }
/*======header_bottom end======*/



.advertise7{width: 1180px; margin: 10px auto;}


/*============================================header end=============================================*/



    /*banner index*/
.index_banner{width: 760px!important; position: relative; float: left;}
.index_banner ul li{float: left; position: relative;}
.index_banner ul li img{width: 760px!important; height: 400px;}
.index_banner ul li p{position: absolute; bottom: 0; left: 0; font-size:16px; color: #fff; padding: 0 15px; height: 50px;line-height: 50px; background: rgba(0,0,0,0.5); width: 100%;}

.bannerRight{width: 400px; float: right;}
.bannerRightUl h2{font-size: 20px; font-weight: bold; color: #333;line-height: 36px;}
.bannerRightUl ul li{line-height: 30px; font-size: 14px;}
.bannerRightUl:last-of-type{margin-top: 30px;}
/*banner end*/
#video_banner .arrow{position: absolute; top: calc(50% - 40px); width: 46px; height: 80px;}
#video_banner .next:hover{background: rgba(0,0,0,0.5);border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
#video_banner .prev:hover{background: rgba(0,0,0,0.5);border-top-right-radius: 4px;border-bottom-right-radius: 4px;}

#video_banner .arrow i{font-size: 30px; color: #fff; display: block;margin: 0 auto; height: 80px; line-height: 80px; width: 46px; text-align: center; border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
#video_banner .arrow.prev { left: 0;display: block;z-index: 100;}
#video_banner .arrow.next { right: 0;display: block;z-index: 100;}

/*indexCon indexLeft start*/
.indexLeft{width: 850px; float: left;}
.leftTopImg{float: left;}
.titleLink{height: 36px; margin-bottom: 10px; margin-top: 10px;}
.titleLink span{float: left;font-size: 22px;font-weight: 700;line-height: 36px;}
.titleLink a{ float: left;}
.titleLink a:hover{color: #e20015;}
.titleLink i{     width: 7px;height: 7px;background: #303030;display: inline-block;float: left;margin: 15px 10px 0;border-radius: 50%;}
.leftTopImg,.leftTopUL{width: 410px;}
.leftTopImg div:first-of-type{ position: relative;}
.leftTopImg div:first-of-type img{display: block;width: 410px;height: 205px;}
.leftTopImg div:first-of-type span{position: absolute; display: block; background:rgba(0,0,0,0.5);  padding: 0 10px; left: 0; height: 40px; line-height: 40px;  bottom:0;font-size: 16px;color: #fff; width:100%;overflow: hidden;}
.leftTopImg div:last-of-type ul li{    float: left;width: 130px;margin-right: 10px;height: 149px;line-height: 20px; margin-top: 12px;}
.leftTopImg div:last-of-type ul li:hover a{color: #e20015;}
.leftTopImg div:last-of-type{display: block;}
.leftTopImg div:last-of-type ul li img{     display: block;height: 86px;width: 130px;}
.leftTopImg div:last-of-type ul li span{     margin: 6px auto 0;display: block;height: 40px;overflow: hidden;line-height: 20px;font-size: 14px;}
.leftTopImg div:last-of-type ul li:last-of-type{margin-right: 0;}
.leftTopUL{float: right;}
.leftTopUL ul li{line-height: 29px;font-size: 14px;}
.leftTopUL ul li:hover a{color: #e20015;}
.leftTopUL ul li:first-of-type a{font-weight: bold; }
.leftTopUL ul li:before{    float: left;content: "";background: #ccc;width: 4px;height: 4px;overflow: hidden;display: inline-block;margin: 13px 11px 0 0;border-radius: 2px;}
.indexLeftBottom .leftBottom{width: 410px;}
.indexLeftBottom .leftBottom:first-of-type{float: left;}
.titleMore{height: 35px;background: #f9f9f9;line-height: 36px;padding: 0 12px 0 6px;font-size: 14px;overflow: hidden;}
.titleMore span:first-of-type{    float: left;font-size: 18px;font-weight: 700;}
.titleMore span:first-of-type:before {float: left;content: "";background: #e20015;width: 4px;height: 14px;overflow: hidden;display: inline-block;margin: 11px 6px 0 0;border-radius: 2px;}
.titleMore span:last-of-type{float: right;}
.titleMore span:last-of-type a{color: #999;}
.leftBottom ul{margin-top: 13px;}
.leftBottom ul li{line-height: 29px;font-size: 14px;}
.leftBottom ul li:first-of-type{font-weight: bold;}
.leftBottom ul li:before{ float: left;content: "";background: #ccc;width: 4px;height: 4px;overflow: hidden;display: inline-block;margin: 13px 11px 0 0;border-radius: 2px;}
.indexLeftBottom .leftBottom:last-of-type{float: right;}
.leftBottom ul li:hover a{color: #e20015;}
/*indexTop indexLeft end*/

/*indexCon indexLeft start*/
.indexRight{width: 300px; float: right;}
.bot{padding-bottom: 15px;}
.rightTop{background: #f9f9f9;}
.rightTop h3{line-height: 24px;padding: 15px 15px 0 15px; position: relative; font-weight: bold;}
.rightTop h3:before{float: left;content: "";background: #e20015;width: 4px;height: 14px;overflow: hidden;display: inline-block;margin: 5px 6px 0 0;border-radius: 2px;}
.rightTop ul li{padding: 10px 15px 0 15px; height: 70px; overflow: hidden;}
.rightTop ul li img{display: block;width: 90px;height: 60px;}
.rightTop ul li div{float: left; margin-right: 10px;}
.rightTop ul li p{    font-size: 14px;line-height: 20px;}
.rightTop ul li p:hover a{color: #e20015;}
.rightBottom img{    height: 214px; margin-top: 20px;}

/*indexTop indexLeft end*/

/*============================================index end==============================================*/


.indexRightAdver{margin-top: 20px;}
.indexLeftAdver{margin-top: 10px;}
.indexLeftAdver img,.indexRightAdver img{height: 100px;}



.indexVideo{width: 1180px; margin-top: 30px;}
.indexVideo ul li{float: left; width: 180px; margin-right: 20px; padding: 3px 0;overflow: hidden;}
.indexVideo ul li:last-of-type{margin-right: 0;}
.indexVideo ul li img{width: 100%; height: 120px;}
.indexVideo ul li p a{font-size: 14px; color: #333;line-height: 22px; padding-top: 8px; height: 52px;}
.indexVideo ul li p a:hover{color: #e20015}


/*============================================footer start============================================*/
footer{width: 1180px; margin: 90px auto 0 auto; }
.cooperation{border: 1px solid #c2d4e8;box-shadow: 0 0px 1px #c2d4e8; position: relative; margin-bottom: 10px; }
.cooperation>h2{ position: absolute;width: 206px;height: 24px; line-height: 24px; display: block; left: 50%; margin-left: -103px; background: #fff; border-left: 2px solid #c2d4e8; border-right: 2px solid #c2d4e8; margin-top: -12px; font-size: 18px; font-weight: bold;color:#333; text-align: center;  }

.mediaBox{padding: 30px; font-size: 14px;color: #999;}
.mediaBox a{display: inline-block; font-size: 14px; color: #666666; padding:0 4px; line-height: 30px;}
.copyRight p{text-align: center; font-size:14px;color: #666; line-height: 30px;}
.copyRight p a{display: inline-block; padding: 0 4px;font-size:14px;color: #666; }
/*============================================footer end==============================================*/


/*举报中心 start*/
.indexJb{margin-top: 20px; padding-bottom: 10px;}
.indexJb ul li{width:11%; margin-right: 6.80%;float: left; }
.indexJb ul li:last-of-type{margin-right: 0; }
/*举报中心 end*/




@media(max-width:1180px) {
    .indexWrap{width:100%; padding: 0 15px;}
    .advertise7{width: 100%; margin: 10px auto;}
    /*============================================header start=============================================*/
    /*======header_top start=====*/
    .header_topNav .logo{display: block; padding-left: 15px;}
    .header_topNav .logo img{width: 60%; margin-top: 5px; }
    .header_top{min-width: 100%;}
    .header_topNav{width: 100%; margin: 0 auto;}
    .firstNav{display: none;}
    .slideDown{ display: block;}
    .todayTj{display: none;}
    /*======header_top end======*/

    /*======header_middle start======*/
    .header_middle .logo{display: none;}
    .header_middle{width:100%;}
    .header_middleRight{width:80%; padding: 0 15px; margin: 0 auto; float: none;}
    .form_search{float: right!important;}
    /*======header_middle end======*/

    /*======header_bottom start======*/
    .header_bottom{min-width:100%; display: none;}
    .header_bottom .nav{width: 100%; margin: 0 auto;}
    .header_bottom .nav ul li{margin-right:0; width: 20%; height: 40px; line-height: 40px;}

    .header_bottom .nav ul li a{padding: 0; text-align: center; }
    .header_bottom .nav ul li:hover{background: #ff9a20;  }
    /*======header_bottom end======*/
    /*============================================header end=============================================*/
    /*============================================index start============================================*/

    /*banner index*/
    .index_banner{width: 100%!important; position: relative; float: none;}
    .index_banner ul li{float: left;}
    .index_banner ul li img{width: 100%!important; height: 470px;}

    .bannerRight{width: 100%; float: none; padding: 0 15px;}
    .bannerRightUl{ width: 49%; float: left;margin-top: 30px;}
    .bannerRightUl h2{font-size: 22px; font-weight: bold; color: #333;line-height: 36px; text-align: left;}
    .bannerRightUl:last-of-type{ float: right!important;}

    /*banner end*/
    /*indexCon indexLeft start*/
    .indexLeft{width: 100%; float: left;}
    .leftTopImg,.leftTopUL{width: 49%;}
    .leftTopImg div:first-of-type img{display: block;width:100%;height: 205px;}
    .leftTopImg div:last-of-type ul li{    float: left;width: 32%;margin-right: 10px;height: 149px;line-height: 20px; margin-top: 12px;}
    .leftTopImg div:last-of-type ul li img{     display: block;height: 86px;width: 100%;}
    .leftTopUL ul li{line-height: 32px;font-size: 16px;}
    .leftTopUL ul li:hover a{color: #e20015;}
    .leftTopUL ul li:first-of-type a{font-weight: bold; }
    .leftTopUL ul li:before{    float: left;content: "";background: #ccc;width: 4px;height: 4px;overflow: hidden;display: inline-block;margin: 13px 11px 0 0;border-radius: 2px;}
    .indexLeftBottom .leftBottom{width: 49%;}
    /*indexTop indexLeft end*/
    /*indexCon indexLeft start*/
    .indexRight{width: 100%; float: right; margin-top: 20px;}
    .rightTop{background: #f9f9f9; float: left; width: 49%;}
    .indexRight .bot{float: right !important; }
    .rightTop h3{line-height: 24px;padding: 15px 15px 0 15px; position: relative;}
    .rightTop h3:before{float: left;content: "";background: #e20015;width: 4px;height: 14px;overflow: hidden;display: inline-block;margin: 5px 6px 0 0;border-radius: 2px;}
    .rightTop ul li{padding: 10px 15px 0 15px; height: auto;}
    .rightTop ul li img{display: block;width:100%;height: 100px; float: left;}
    .rightTop ul li div{float: left; margin-right: 10px;width: 40%;}
    .rightTop ul li p{ width: 56.7%; float: left; font-size: 14px;line-height: 20px;padding-top: 9px;}
    .rightTop ul li p:hover a{color: #e20015;}
    .rightBottom img{    height: 230px; margin-top: 20px;}

    /*indexTop indexLeft end*/



    .indexVideo{width:100%;}
    .indexVideo ul li{float: left; width:15.83%; margin-right: 1%;}
    .indexVideo ul li:last-of-type{margin-right: 0;}
    .indexVideo ul li img{width: 100%; height: 120px;}

    /*============================================footer start============================================*/
    footer{width: 100%; margin: 90px auto 0 auto; padding: 0 15px; }
    /*============================================footer end==============================================*/

}

@media(max-width:1070px) {

    /*indexCon indexLeft start*/
    .leftTopImg div:last-of-type ul li{    float: left;width: 31.8%;}
    /*indexTop indexLeft end*/
    .indexVideo ul li{float: left; width:32%; margin-right: 1%; margin-bottom: 10px;}
    .indexVideo ul li:nth-of-type(3n){margin-right: 0;}
    .indexVideo ul li img{ height: 160px;}
}


@media(max-width:940px) {

    /*indexCon indexLeft start*/
    .leftTopImg div:last-of-type ul li{    float: left;width: 31.6%;}
    /*indexTop indexLeft end*/

}

@media(max-width:830px) {

    /*indexCon indexLeft start*/
    .leftTopImg div:last-of-type ul li{    float: left;width: 31.4%;}
    /*indexTop indexLeft end*/

}


@media(max-width:768px) {

    /*indexCon indexLeft start*/
    .indexLeft{width: 100%; float: left;}
    .leftTopImg,.leftTopUL{width: 100%;}
    .leftTopImg div:first-of-type img{display: block;width:100%;height: 318px; margin-bottom: 10px;}
    .leftTopImg div:last-of-type{display: none;}
    .indexLeftBottom .leftBottom{width: 100%;}
    /*indexTop indexLeft end*/
    /*indexCon indexLeft start*/
    .indexRight{width: 100%; float: right; margin-top: 20px;}
    .rightTop{background: #f9f9f9; float: left; width: 49%;}
    .rightTop ul li img{display: block;width:100%;height: 100px; float: left;}
    .rightTop ul li p{width: 56.7%; float: left; font-size: 14px;line-height: 20px;padding-top: 9px;}

    /*indexTop indexLeft end*/

    /*============================================index start============================================*/

    /*banner index*/

    .index_banner{width: 100%!important; position: relative; float: none;}
    .index_banner ul li{float: left;}
    .index_banner ul li img{width: 100%!important; height: 370px;}

    .bannerRight{width: 100%; float: none; padding: 0 15px;}
    .bannerRightUl{ width: 100%; float: none;margin-top: 30px;}
    .bannerRightUl h2{font-size: 22px; font-weight: bold; color: #333;line-height: 36px; text-align: left;}
    .bannerRightUl:last-of-type{ float: right!important;}

    /*banner end*/
    .indexVideo ul li{float: left; width:49%; margin-right: 2%; margin-bottom: 10px;}
    .indexVideo ul li:nth-of-type(3n){margin-right: 2%;}
    .indexVideo ul li:nth-of-type(2n){margin-right: 0;}

    .indexVideo ul li img{ height: 160px;}

    /*举报中心 start*/
    .indexJb{margin-top: 20px; padding-bottom: 10px;}
    .indexJb ul li{width:26%; margin-right: 10.80%;float: left; margin-bottom: 10px; }
    .indexJb ul li:last-of-type{margin-right: 0; }
    .indexJb ul li:nth-of-type(3n){margin-right: 0; }
    /*举报中心 end*/
}


@media(max-width:730px) {
    .rightTop ul li p{width: 56.4%;}
}

@media(max-width:680px) {
    .rightTop ul li p{width: 56.2%;}
}

@media(max-width:645px) {
    .rightTop ul li p{width: 55.6%;}
}
@media(max-width:570px) {
    .rightTop ul li p{width: 55%;}
}

@media(max-width:516px) {
    .indexRight{width: 100%; float: right; margin-top: 20px;}
    .rightTop{background: #f9f9f9; float: left; width: 100%;}
    .rightTop ul li{width: 49%; float:left;}
    .rightTop ul li div {
        float: left;
        margin-right: 10px;
        width: 100%;
    }
    .rightTop ul li img{display: block;width:100%;height: 120px; float: left;}
    .rightTop ul li p{width:100%; float: left; font-size: 14px;line-height: 20px;padding-top: 9px;}
}
