@media(max-width:1000px){
    /*============================================header start=============================================*/
    /*======header_top start=====*/
    .header_topNav .logo{display: block; padding-left: 15px;}
    .header_topNav .logo img{width: 60%; margin-top: 5px; }
    .header_top{min-width: 100%;}
    .header_topNav{width: 100%; margin: 0 auto;}
    .firstNav{display: none;}
    .slideDown{ display: block;}
    .todayTj{display: none;}
    /*======header_top end======*/

    /*======header_middle start======*/
    .header_middle .logo{display: none;}

    .header_middle{width:100%;}
    .header_middleRight{width:80%; padding: 0 15px; margin: 0 auto; float: none;}
    .form_search{float: right!important;}
    /*======header_middle end======*/

    /*======header_bottom start======*/
    .header_bottom{min-width:100%;}
    .header_bottom .nav{width: 100%; margin: 0 auto;}
    .header_bottom .nav ul li{margin-right:0; width: 20%; height: 40px; line-height: 40px;}

    .header_bottom .nav ul li a{padding: 0; text-align: center; }
    .header_bottom .nav ul li:hover{background: #e20015;  }
    /*======header_bottom end======*/
    /*============================================header end=============================================*/




    /*============================================news list start============================================*/
    .detail_con{width: 100%;}
    .wrapList{width: 100%; padding: 0 15px;}
    .listLeft{width: 100%; float: none;}
    .listRight{display: none;}
    /*============================================news list end============================================*/

    /*============================================img list start============================================*/
    .imgList{width:100%; margin: 30px auto 0 auto; padding: 0 15px;  }
    .imgList ul li{float: left; height: 268px; width:32%;   border: 1px solid #E4E4E4;margin: 0 17px 30px 0; }
    .imgList ul li:nth-of-type(4n){margin: 0 17px 31px 0; }
    .imgList ul li:nth-of-type(3n){margin: 0 0px 31px 0; }

    /*============================================img list end============================================*/


    /*============================================footer start============================================*/
    footer{width: 100%; margin: 90px auto 0 auto; padding: 0 15px; }
    /*============================================footer end==============================================*/

    /*============================================video detail start============================================*/
    .videoDetail{width: 100%; padding: 0 15px;}
    .videoRight{display: none;}
    .videoLeft{width: 100%;}
    .videoBox{background: #fff;}
    .videoBox>div{background: #fff;}
    .video_relevant li{width: 100%!important;}
    .video_relevant li img{width: 30%; float: left;}
    .video_relevant li p{color: #666!important; display: block!important; position: static!important;}
    /*============================================video detail end============================================*/
    .imgShow{width: 100%; margin: 30px auto 0 auto; height: 400px; display: block}
    .imgShow ul li{height: 300px;}
    .imgShow ul li img{max-width: 600px;min-height: 300px; margin: 0 auto;width: 100%;}
    .jq22-container{display: none;}
.imgDedailR{width: 100%; padding: 0 15px;}
.imgDedailR ul li{float: left; width: 49%; margin-right: 2%;}
.imgDedailR ul li:nth-of-type(2n){margin-right: 0;}
.unslider-arrow06{display: none;}

.imgListBox{width: 100%; }
    .wrapper04{width: 100%; padding: 0 15px;}



    /**********咨询详情 start***********/
    /*.consultation-wrap{display: none}*/
    .listLeft-txt{text-indent: 0!important;}
    .listLeft-txt-img>p{text-align: left}
    .header-logo{min-width: 100%;width: 100%;}
    .consultation-title>h1 {font-size:24px;line-height: 40px;padding: 15px 0 20px 0;}
    .listLeft-txt-img{padding:0;}
    .listLeft-txt {font-size: 16px;line-height: 30px;}
    .listLeft-txt>p {margin-bottom: 16px;}
    /**********咨询详情 end**********/

    /***********咨询首页 start***************/
    .consultation-main{width:100%;padding:0 15px;margin:20px auto 0 auto;}
    .consultation-list-left,.consultation-list-right{width:100%;float:none;}
    .consultation-list-right {padding-left:0%;}
    .conslutationRight-txt1>a {font-size: 16px;margin-bottom: 20px;}
    .conslutationRight-txt2>a {font-size: 16px;line-height: 22px;margin-bottom: 22px;}

    .conBot-header>div{display: none}
    .conBot-box>div {width: 100%;float: none;}


    /***********咨询首页 end**************/

    /*============================================video detail start============================================*/
    .videoDetail{width: 100%; padding: 0 15px;}
    .videoRight{display: none;}
    .videoLeft{width: 100%;}
    .videoBox{background: #fff;}
    .videoBox>div{background: #fff;}
    .video_relevant li{width: 100%!important;}
    .video_relevant li img{width: 30%; float: left;}
    .video_relevant li p{color: #666!important; display: block!important; position: static!important;}
    /*============================================video detail end============================================*/

    .videoPlay video{width: 100%; height: auto;}

    .video_relevant ul li p{color: #666 !important; display: block; position: static; padding-left: 10px; width: auto;}
    .videoBox {height: auto;}
    .video_relevant ul li{height: auto;margin: 10px 0;}


    .video_mleft{width: 100%;}
    .video_mright{display: none;}

    .imgRecommend{display: none;}

    .imgIndex {
        width: 100%;
    }
    .imgAct ul li div{width: 49%;}
    .bannerbox::before{content: ""; height: 100%; display:none; border-left:1px solid #ccc;left: 0; position: absolute; top: 0;}
    .bannerTitle{padding: 0 15px;}
    .img_banner{margin-left: 0;}
    .bannerbox{width: 96%; margin: 0 auto;}
    .img_banner ul li div:nth-of-type(3n) {
    margin-right: 1px;}
    .img_banner ul li div:nth-of-type(2n) {margin-right:0;}
    .activity{width: 96%; margin: 30px auto;}
    .imgActivity ul li .act_li{margin: 24px 10px 0 0;}
    .imgActivity ul li .act_li div:first-of-type{width: 100%;}
    .imgActivity ul li .act_li div:last-of-type{width: 100%; border-left: 1px solid #e9e9e9;}
    .imgHeading h2{padding: 0 15px;width: 145px;}
    .imgActivity ul li .act_li div:first-of-type{height: auto;}
    .imgTabOn{display: none;}
    .goList{display: block;}
    .imgTab{width: 100%;}
    .pageFan{display: none;}
    .bannerTop{width: 100%;}
    .bannerTop .dots{padding:  10px 45%;}
}

@media(max-width:980px){

    /*============================================img list start============================================*/
    .imgList ul li{width:31.8%;}

    /*============================================img list end============================================*/

}

@media(max-width:800px){

    /*============================================img list start============================================*/
    .imgList ul li{width:31.3%;height: 288px;}

    /*============================================img list end============================================*/

}

@media(max-width:768px){
.bannerTop ul li img{height: 350px;}
    .bannerTop .dots{padding:  10px 43%;}
    /*============================================img list start============================================*/
    .imgLike{ display: block; }

    .imgList ul li{width:48.4%;height: 268px; margin-bottom: 40px;}
    .imgList ul li:nth-of-type(2n){margin: 0 0px 40px 0!important; }
    .imgList ul li:nth-of-type(3n){margin: 0 17px 40px 0!important; }
    /*============================================img list end============================================*/
    /*咨询详情 start*/
    .consultation-wrap{display: block;height: auto;}
    .consultation-wrap-left{height: 45px;line-height: 45px;border-top:none}
    .consultation-title>h1 {padding: 0;}
    /*咨询详情 end*/

    /*举报中心 start*/
    .indexJb{margin-top: 20px; padding-bottom: 10px;}
    .indexJb ul li{width:26%; margin-right: 10.80%;float: left; margin-bottom: 10px; }
    .indexJb ul li:last-of-type{margin-right: 0; }
    .indexJb ul li:nth-of-type(3n){margin-right: 0; }
    /*举报中心 end*/
}
@media(max-width:680px){

    /*============================================img list start============================================*/
    .imgLike{ display: block; }

    .imgList ul li{width:47.8%;height: 288px; margin-bottom: 40px;}
    .imgList ul li:nth-of-type(2n){margin: 0 0px 40px 0!important; }
    .imgList ul li:nth-of-type(3n){margin: 0 17px 40px 0!important; }
    /*============================================img list end============================================*/
    .imgShow ul li{height: 300px;}
    .imgShow ul li img{max-width: 400px;min-height: 300px; margin: 0 auto;width: 100%;}
}
@media(max-width:550px){
    /*============================================header start=============================================*/
    /*======header_top start=====*/

    /*======header_top end======*/

    /*======header_middle start======*/
    .header_middleRight{width:100%;}
    /*======header_middle end======*/


    /*======header_bottom start======*/

    /*======header_bottom end======*/

    /*============================================header end=============================================*/
.imgAct ul li div{width:48.5%;}
.imgActivity ul li .act_li div:last-of-type{padding:0;}
}

@media(max-width:480px){
    /*============================================header start=============================================*/
    /*======header_top start=====*/

    /*======header_top end======*/

    /*======header_middle start======*/
    .header_middleRight{width:100%;}
    /*======header_middle end======*/


    /*======header_bottom start======*/

    /*======header_bottom end======*/

    /*============================================header end=============================================*/
    /*============================================img list start============================================*/
    .imgLike{ display: block; }

    .imgList ul li{width:100%;height: 268px; margin-bottom: 40px; margin: 0 0px 40px 0!important;}
    .imgList ul li:nth-of-type(2n){margin: 0 0px 40px 0!important; }
    .imgList ul li:nth-of-type(3n){margin: 0 0px 40px 0!important; }
    /*============================================img list end============================================*/
}
